.pageContainer {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.formContainer {
    gap: 30px;
    display: flex;
    flex-direction: column;
}