.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px 12px;
    align-items: center;
}

.formBtn {
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    width: 200px;
    border-radius: 8px;
    background-color: inherit;
    transition: color 200ms ease-in-out;
}

.formBtn:hover {
    color: #0d00c3;
}

.input {
    width: 230px;
    ;
    padding: 4px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.126);
}

.inputContainer {
    padding: 12px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    width: 250px;
    gap: 15px;
}

.input:focus {
    outline: 1px solid #0d00c3;
}

.errorMessage {
    color: rgb(135, 0, 0);
    text-align: center;
}