.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: black;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}

.active {
    color: rgb(0, 106, 255);
    text-decoration: none;
}

.link:hover {
    color: rgb(0, 106, 255);
    text-decoration: underline;
}