.contactContainer {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    min-width: 230px;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 4px;
    position: relative;
}

.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: inherit;
    border: none;
    width: 32px;
    height: 32px;
}

.userIcon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.deleteIcon {
    width: 24px;
    height: 24px;
}