.linksContainer {
    display: flex;
    gap: 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: black;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}

.active {
    color: rgb(9, 0, 141);
    text-decoration: none;
}

.link:hover {
    color: rgb(89, 89, 89);
    text-decoration: underline;
}