.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
   height: 40px;
    border-radius: 8px;
    padding: 4px 8px;
    gap: 8px;
    transition: color 200ms ease-in-out;
    margin-left: auto;
}

.logoutBtn:hover {
    color: #0d00c3;
}

.logoutIcon {
    height: 24px;
    width: 24px;
}